<!DOCTYPE html>
<html>
<head>
    <title>Gráfico Plotly</title>
</head>
<body>
    <h1>Selecione um Grupo</h1>
    
    <form action="/" method="POST">
        <label>Grupo:</label>
        <select name="grupo">
            {% for grupo in listaGrupos %}
                <option>{{grupo}}</option>
            {% endfor %}
        </select>

        <label>Produto:</label>
        <select name="produto">
            {% for produto in listaProdutos %}
                <option>{{produto}}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Filtrar">

    </form>

    <form action="/resetar-cache" method="POST">
        <label>Atualizar dados:</label>
        <button type="submit">Atualizar</button>
    </form>


    <h1>Gráficos de: {{nome_grupo}}</h1>

    <div class="row">
        {% for grafico, tabela in graficos_tabelas %}
            <div class="col-md-6">
                {{ grafico | safe }}
            </div>
            <div class="col-md-6">
                <table>
                    <thead>
                        <tr>
                            <th>Média 3M</th>
                            <th>Estoque total</th>
                            <th>DEE - Dias em Est.</th>
                            <th>Prev.</th>
                            <th>Simulação</th>
                            <th>Consumo Diário</th>
                            <th>Estoque Mínimo</th>
                            <!-- <th colspan="2">Maior valor</th> -->
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ tabela[0][1] }}</td>
                            <td>{{ tabela[0][2] }}</td>
                            <td>{{ tabela[0][3] }}</td>
                            <td>{{ tabela[0][4] }}</td>
                            <td>{{ tabela[0][5] }}</td>
                            <td>{{ tabela[0][7] }}</td>
                            <td>{{ tabela[0][8] }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </div>

</body>
</html>